@media screen and (min-width: 50px) and (max-width: 820px) {
    .navbar {
        flex-direction: column;
        position: relative;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        height: auto;
        min-height: 100px;

    }

    .container-icon {
        width: 100%;
        max-width: 20%;
        position: absolute;
        top: 15px;
        left: 10px;
    }

    .icon {
        height: 40px;
        margin-top: 10px;
    }

    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 30px;
    }

    .list-item {
        display: block;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding: 10px;
        display: none;
        margin-top: 5rem;

    }

    .navbar-navs {
        margin-top: 3rem;
    }

    .active {
        display: block;
        padding: 0px;
    }

    .extra.navbar {
        display: flex;
        flex-direction: column !important;
        gap: 1rem !important;
        width: 100%;
    }

    .list-item.extras {

        padding-left: 0.0002rem;
    }



}

/* Homepage */

@media screen and (min-width: 320px) and (max-width: 786px) {
    .homepage-words {
        max-width: 100%;
    }

    .homepage-title {
        font-family: 'Source Code Pro', monospace;
        max-width: 90%;
        font-size: 30px;
        font-weight: 900;
    }

    .homepage-paragraph {
        font-family: 'Inconsolata', monospace;
        font-weight: 400;
        max-width: 90%;
        font-size: 20px;
    }

}

/* Footer */
@media screen and (min-width: 320px) and (max-width: 786px) {
    .big-footer {
        background-color: white;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        background-color: #E09891;
        text-align: center;
        border-radius: 0px 100px 0px 0px;
        padding-top: 5rem;
    }

    .nav-list.footer {
        display: flex;
        align-items: center;
        flex-direction: column !important;
    }


    .extra {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1px;
        padding: 0.5rem;
    }

    .copyright {
        font-size: 15px;
    }

      
}